
ul, p, footer, .montserrat-uniquifier {
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  font-style: normal;
}
body {
  background-color: #041821;
  font-family: "Yeseva One", serif;
  font-weight: 400;
  font-style: normal;
  color : white;
  margin: 0;
  padding: 0;

  ;
}
hgroup {
  display: block; 
  justify-content: center;
  margin-left: 10% ;
  margin-right: 10%;
 
}
.fa-brands, .fa-solid {
color: white;
}
header { 
display: flex;
border-bottom: 1px solid grey;
padding: 10px;
justify-content: space-between;
align-items: center;
}

ul {
display: flex;
flex-direction: row;
color: white;
gap: 1em;
justify-content: center;

}
p {
 font-size: 60%;
 color : grey ;

}
span {
color: #1ed29b;
}
footer {
text-align: center;
color:grey;
font-size: 8px;
padding-top: 5%;
}
section {
  display: grid;
  grid-template-columns: repeat(4, 1fr) ;
  grid-template-rows: repeat(4, 1fr);
  grid-gap:6px;
  margin-left: 10%;
  margin-right: 10%;
  justify-content: center;

}
img {
width: 100%;
height: 100%;

}
.choosen{
background-color: #1ed29b;
border-width: 2px;
border-style: solid;
}



/*phone*/
@media (max-width: 640px) {
section {
    grid-template-columns: repeat(3, 1fr); 
    grid-gap: 8px;    
}
img:nth-child(n + 10) {
    display: none; 
}
header {
    justify-content: center; 
    text-align: center; 
    flex-direction: column; 
}
.fa-brands, .fa-solid {
    justify-content: center; 
    text-align: center; 
    margin: 0; 
    padding: 0; 
}
}
p {
  font-size: 100%;
  color : grey ;
  font-weight: 300;
 
 }
 ul {
  font-size: 75%;
  justify-content: center;
  padding-left:0;

 }

/*tablet*/
@media (min-width: 642px) and (max-width: 1023px) {
section {
    grid-template-columns: repeat(5, 1fr); 
    grid-gap: 8px; 
}
img:nth-child(n + 16) {
  display: none; }  
}


/*computer*/
@media (min-width: 1024px) {
  img:nth-child(n + 15) {
  display: none; }  
  section{
  grid-template-columns: repeat(4, 1fr); 
}
}