
ul, p, footer, .montserrat-uniquifier {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing : auto;
    font-weight: weight;
    font-style: normal;
  }
body {
    background-color: #041821;
    font-family: "Yeseva One", serif;
    font-weight: 400;
    font-style: normal;
    color : white
  }
hgroup {
    display: flex; 
    justify-content: center;
    flex-direction: column;
    
}
.fa-brands, .fa-solid {
  color: white;
}
header { 
  border-bottom: solid grey;
  
  display: flex;
  justify-content: space-between;
}
ul {
flex-direction: row;
display: flex;
color: white;
justify-content: center;
margin-right: 10%;
margin: 5%;
gap: 1em
}
p {
   font-size: 60%;
   color : grey ;
}
span {
  color: #1ed29b;
}
footer {
  text-align: center;
  color:grey;
  font-size: 8px;
  padding-top: 5%;
}
section {
display: grid;
grid-template-columns: repeat(4, 200px) ;
grid-template-rows: repeat(4, 200px);
justify-content: center;
grid-column-gap: 5px;
grid-row-gap: 5px;
width: 100%;
}

.choosen{
  border-color: #1ed29b;
  background-color: #1ed29b;
  border-width: 2px;
  border-style: solid;

}

/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {
  section {
    display: grid;
    grid-template-columns: repeat(4, 200px) ;
    grid-template-rows: repeat(4, 200px);
    justify-content: center;
    grid-column-gap: 5px;
    grid-row-gap: 5px;

    
}
    body{
      background-color: aqua;
 }
/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 500px) {

}